.container {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #212529;
}

th.product-col {
  width: 75%;
}

th.price-col {
  width: 20%;
}

th.actions-col {
  width: 5%;
}

.table {
  text-align: center
}

.table td {
  vertical-align: middle;
  margin: auto;
}

.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
}

.product-img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.product-body {
  margin-left: 10px;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actions h5 {
  margin: 0;
  margin-left: auto;
  margin-right: 30px;
}

@media(max-width: 767px) {
  .product-body .description {
    display: none;
  }
}

@media(max-width: 550px) {
  .product .product-img {
    display: none;
  }
}
