.container {
  margin-top: 20px;
}

th.product-col {
  width: 70%;
}

th.price-col {
  width: 12%;
}

th.quantity-col {
  width: 12%;
}

th.actions-col {
  width: 6%;
}

.table {
  text-align: center
}

.table td {
  vertical-align: middle;
  margin: auto;
}

.product {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: start;
}

.product-img {
  width: 100%;
  max-width: 150px;
  height: auto;
}

.product-body {
  margin-left: 10px;
}

@media(max-width: 767px) {
  .product-body .description {
    display: none;
  }
}

@media(max-width: 550px) {
  .product .product-img {
    display: none;
  }
}
